@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

body {
    font-family: "Josefin Sans", sans-serif;
}
input:focus {
    outline: none;
}
label.error {
    color: red !important;
    font-size: 14px !important;
}
.login-bg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/back.jpg);
}
.res-bg {
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/back.jpg);
}
.login-form-area {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form-area .login-form {
    background: #fff;
    padding: 55px 60px 50px 50px;
    box-shadow: 0px 10px 30px 0px rgba(13, 12, 13, 0.2);
}

@media (max-width: 575px) {
    .login-form-area .login-form {
        padding: 40px 20px 20px 26px;
    }
}

.login-form-area .login-form .login-heading {
    text-align: center;
}

.login-form-area .login-form .login-heading span {
    color: #140c40;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
    display: block;
    text-transform: capitalize;
}

.login-form-area .login-form .input-box {
    padding-top: 35px;
    padding-bottom: 75px;
}

@media (max-width: 575px) {
    .login-form-area .login-form .input-box {
        padding-top: 28px;
        padding-bottom: 10px;
    }
}

.login-form-area .login-form .input-box .single-input-fields label {
    display: block;
    font-size: 17px;
    margin-bottom: 6px;
    color: #140c40;
    font-weight: 500;
    text-align: left;
}

.login-form-area .login-form .input-box .single-input-fields input {
    border: 1px solid #c9c9c9;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 25px;
    color: #000;
}

.login-form-area
    .login-form
    .input-box
    .single-input-fields
    input::placeholder {
    color: #777777;
    font-weight: 300;
    font-size: 13px;
}

.login-form-area .login-form .login-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .login-form-area .login-form .login-footer {
        display: block;
        text-align: start;
    }
}

@media (max-width: 575px) {
    .login-form-area .login-form .login-footer {
        display: block;
        text-align: start;
    }
}

.login-form-area .login-form .login-footer p {
    margin: 0;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .login-form-area .login-form .login-footer p {
        margin-bottom: 28px;
        display: block;
    }
}

@media (max-width: 575px) {
    .login-form-area .login-form .login-footer p {
        margin-bottom: 28px;
        display: block;
    }
}

.login-form-area .login-form .login-footer p a {
    color: #fd5fa1;
}

.login-check {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    overflow: hidden;
}

@media (max-width: 575px) {
    .login-check {
        display: block;
    }
}

.login-check input[type="checkbox"] + label {
    display: inline-block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0;
    margin: 0 0 13px 0;
}

.login-check input[type="checkbox"] {
    display: none;
}

.login-check input[type="checkbox"] + label::before {
    content: "\2714";
    border: 0.1em solid #e4e4e4;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 10px;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

.login-check input[type="checkbox"] + label:active:before {
    transform: scale(0);
}
a {
    color: #f51167;
    text-decoration: none;
}
a:hover {
    color: #f51167;
    text-decoration: underline;
}
.login-check input[type="checkbox"]:checked + label:before {
    background-color: #fd8f5f;
    border-color: #fd8f5f;
    color: #fff;
    line-height: 18px;
}

.login-check a {
    color: #f51167;
    font-size: 14px;
    font-weight: 400;
}

.login-check a:hover {
    color: #f51167;
}

@media (max-width: 575px) {
    .login-check a {
        float: left;
        display: block;
        padding-top: 7px;
        margin-bottom: 10px;
    }
}

.register-form-area .register-form {
    background: #fff;
    padding: 55px 60px 10px 50px;
    box-shadow: 0px 10px 30px 0px rgba(13, 12, 13, 0.2);
}

@media (max-width: 575px) {
    .register-form-area .register-form {
        padding: 40px 20px 20px 26px;
    }
}

.register-form-area .register-form .register-heading {
    text-align: center;
}

.register-form-area .register-form .register-heading span {
    color: #140c40;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
    display: block;
    text-transform: capitalize;
}

.register-form-area .register-form .input-box {
    padding-top: 35px;
    padding-bottom: 30px;
}

@media (max-width: 575px) {
    .register-form-area .register-form .input-box {
        padding-top: 28px;
        padding-bottom: 20px;
    }
}

.register-form-area .register-form .input-box .single-input-fields label {
    display: block;
    font-size: 17px;
    margin-bottom: 6px;
    color: #140c40;
    font-weight: 500;
    text-align: left;
}

.register-form-area .register-form .input-box .single-input-fields input {
    border: 1px solid #c9c9c9;
    width: 100%;
    height: 50px;
    padding: 0 25px;
    color: #000;
}

.register-form-area
    .register-form
    .input-box
    .single-input-fields
    input::placeholder {
    color: #777777;
    font-weight: 300;
    font-size: 13px;
}

.register-form-area .register-form .register-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .register-form-area .register-form .register-footer {
        display: block;
        text-align: start;
    }
}

@media (max-width: 575px) {
    .register-form-area .register-form .register-footer {
        display: block;
        text-align: start;
    }
}

.register-form-area .register-form .register-footer p {
    margin: 0;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .register-form-area .register-form .register-footer p {
        margin-bottom: 28px;
        display: block;
    }
}

@media (max-width: 575px) {
    .register-form-area .register-form .register-footer p {
        margin-bottom: 28px;
        display: block;
    }
}

.register-form-area .register-form .register-footer p a {
    color: #fd8f5f;
}

.submit-btn3 {
    background: #f51167;
    height: 60px;
    padding: 10px 43px;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px;
}
a.fb,
a.gg {
    font-size: 25px;
    line-height: 55px;
    display: inline-block;
    height: 55px;
    width: 55px;
    border: solid;
    border-radius: 50px;
}
a.fb {
    color: #fff;
    background: blue;
}
a.gg {
    color: #fff;
    background: red;
}
